---
"extends":
    - "airbnb"
"rules":
    "indent": ["error", 4]
    "max-len": ["error", 120, {
      ignoreUrls: true,
      ignoreComments: true,
      ignoreRegExpLiterals: true,
      ignoreStrings: true,
      ignoreTemplateLiterals: true,
    }]
