.items-per-page input[type=number] {
    width: 14px;
    height: 11px;
    font-size: 12px;
    text-align: center;
}

#worklog_tabs_content {
    padding: 9px 0px;
    border-left: unset;
    border-right: unset;
    border-bottom: unset;
}

.worklog-filter {
    display: inline-block;
    margin: 4px 4px;
}

.worklog-filter-select {
    width: auto;
}
