        
<!-- filter -->

<div id="worklog_history_header">
    <div class="form-inline">
        <div class="control-group worklog-filter" title="{{ _('Select user') }}">
            <label class="control-label">{{ _('User') }}</label>
            <select data-bind="options: viewModels.userFilter.allItems, optionsText: 'name', optionsValue: 'name', optionsCaption: '{{ _('All') }}', value: viewModels.userFilter.selected, event: { change: viewModels.userFilter.changed }"></select>
        </div>
        <div class="control-group worklog-filter" title="{{ _('Select printer') }}">
            <label class="control-label">{{ _('Printer') }}</label>
            <select data-bind="options: viewModels.printerFilter.allItems, optionsText: 'name', optionsValue: 'name', optionsCaption: '{{ _('All') }}', value: viewModels.printerFilter.selected, event: { change: viewModels.printerFilter.changed }"></select>
        </div>
        <div class="control-group worklog-filter" title="{{ _('Select status') }}">
            <label class="control-label">{{ _('Status') }}</label>
            <select data-bind="options: viewModels.statusFilter.allItems, optionsText: 'name', optionsValue: 'value', optionsCaption: '{{ _('All') }}', value: viewModels.statusFilter.selected, event: { change: viewModels.statusFilter.changed }"></select>
        </div>
        <div class="control-group worklog-filter" title="{{ _('Select period') }}">
            <label class="control-label">{{ _('Period') }}</label>
            <select data-bind="options: viewModels.periodFilter.allItems, optionsText: 'name', optionsValue: 'value', optionsCaption: '{{ _('All') }}', value: viewModels.periodFilter.selected, event: { change: viewModels.periodFilter.changed }"></select>
        </div>
    </div>
</div>
<hr style="margin: 10px 0px">

<!-- tabs -->

<div class="tabbable">
<ul class="nav nav-tabs" id="worklog_tabs">
    <li id="worklog_history_link" class="active">
        <a href="#worklog_history" data-toggle="tab">{{ _('History') }}&nbsp;<i class="fa fa-spinner" data-bind="visible: viewModels.jobs.inProgress(), css: {'fa-spin': viewModels.jobs.inProgress()}"></i></a>
    </li>
    <li id="worklog_summary_link" class="">
        <a href="#worklog_summary" data-toggle="tab">{{ _('Summary') }} </a>
    </li>
</ul>

<!-- tabs content -->

<div id="worklog_tabs_content" class="tab-content">

    <!-- history tab -->

    <div id="worklog_history" class="tab-pane active">

        <!-- search filter -->
        
        <form class="form-search input-prepend" style="margin: 4px 0px;">
            <div class="btn-group" style="float: left;">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span data-bind="text: viewModels.jobs.supportedSearchFilters[viewModels.jobs.currentSearchFilter()].name"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu" data-bind="foreach: viewModels.jobs.supportedSearchFilters">
                    <li><a href="#" data-bind="text: name, click: function() { $root.viewModels.jobs.currentSearchFilter($index()); }"></a></li>
                </ul>
            </div>
            <span class="worklog-search-filter">
                <input required type="text" class="input-block" data-bind="value: viewModels.jobs.searchQuery, valueUpdate: 'input'" placeholder="{{ _('Search...') }}">
                <button title="{{ _('Clear filter') }}" data-bind="click: function() { viewModels.jobs.resetSearchFilter(); }"></button>
            </span>
        </form>

        <!-- history table -->

        <table class="table table-striped table-hover table-condensed table-hover">
            <thead>
                <tr>
                    <th style="width: 57%;">
                        <span data-bind="click: function() { viewModels.jobs.setSorting('file'); }">
                            <a class="worklog-sortable" href="#">{{ _('File Name') }} <span data-bind="css: viewModels.jobs.sortIcon('file');"></span></a>
                        </span><br>
                        <span data-bind="click: function() { viewModels.jobs.setSorting('status'); }">
                            <a class="worklog-sortable" href="#">{{ _('Status') }} <span data-bind="css: viewModels.jobs.sortIcon('status');"></span></a>
                        </span>
                    </th>
                    <th style="width: 20%;">
                        <span data-bind="click: function() { viewModels.jobs.setSorting('printer'); }">
                            <a class="worklog-sortable" href="#">{{ _('Printer') }} <span data-bind="css: viewModels.jobs.sortIcon('printer')"></span></a>
                        </span><br>
                        <span data-bind="click: function() { viewModels.jobs.setSorting('user'); }">
                            <a class="worklog-sortable" href="#">{{ _('User') }} <span data-bind="css: viewModels.jobs.sortIcon('user')"></span></a>
                        </span>
                    </th>
                    <th style="width: 23%;">
                        <span data-bind="click: function() { viewModels.jobs.setSorting('start'); }">
                            <a class="worklog-sortable" href="#">{{ _('Date &amp; Time') }} <span data-bind="css: viewModels.jobs.sortIcon('start')"/></a>
                        </span><br>
                        <span data-bind="click: function() { viewModels.jobs.setSorting('duration'); }">
                            <a class="worklog-sortable" href="#">{{ _('Duration') }} <span data-bind="css: viewModels.jobs.sortIcon('duration')"/></a>
                        </span>
                    </th>
                    <th style="width: 12px;"/>
                </tr>
            </thead>
            <tbody data-bind="foreach: viewModels.jobs.allJobs.paginatedItems">
                <tr data-bind="style: { fontWeight: status === 0 ? 'bold' : '' }">
                    <td>
                        <span data-bind="text: file, attr: { title: origin + ': ' + file_path }"></span>
                        <br>
                        <div>
                            <span data-bind="text: $root.viewModels.jobs.jobStatusText(status), css: $root.viewModels.jobs.jobStatusClass(status)"></span>
                            <span style="font-style: italic; color: gray;" data-bind="text: $root.viewModels.jobs.jobTag(tag)"></span>
                            <span style="font-style: italic; color: gray;" data-bind="text: $root.viewModels.jobs.jobNotes(notes)"></span>
                            <a href="#" class="fa fa-pencil worklog-action" title="{{ _('Edit') }}" data-bind="click: function() { $root.viewModels.record.showRecordDialog($data); }, visible: $root.viewModels.jobs.canBeEdited($data)"></a>
                        </div>
                    </td>
                    <td style="white-space: nowrap">
                        <span data-bind="text: printer_name"></span>
                        <br>
                        <span data-bind="text: user_name"></span>
                    </td>
                    <td>
                        <span data-bind="text: formatDate(start_time)"></span>
                        <br>
                        <span data-bind="text: formatDuration(duration), attr: { title: formatDate(end_time) }"></span>
                    </td>
                    <td class="worklog-action-column">
                        <a href="#" class="fa fa-print worklog-action" title="{{ _('Print again') }}" data-bind="click: function() { $root.viewModels.jobs.printAgain($data); }, visible: $root.viewModels.jobs.canBePrinted($data)"></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- pagination -->

        <div class="pagination pagination-mini pagination-centered items-per-page">
            <span class="pull-left" title="{{ _('Items per page') }}">
                <span class="add-on" style="height:19px; padding: 0px 4px;"><i class="icon-list" style="vertical-align:0.3em;font-size:0.95em"></i></span>
                <input type="number" min="0" max="99" step="1" class="input-mini input-nospin" data-bind="value: viewModels.jobs.pageSize">
            </span>
            <ul>
                <li data-bind="css: {disabled: viewModels.jobs.allJobs.currentPage() === 0}">
                    <a href="#" data-bind="click: viewModels.jobs.allJobs.prevPage">«</a>
                </li>
            </ul>
            <ul data-bind="foreach: viewModels.jobs.allJobs.pages">
                <li data-bind="css: { active: $data.number === $root.viewModels.jobs.allJobs.currentPage(), disabled: $data.number === -1 }">
                    <a href="#" data-bind="text: $data.text, click: function() { $root.viewModels.jobs.allJobs.changePage($data.number); }"></a>
                </li>
            </ul>
            <ul>
                <li data-bind="css: {disabled: viewModels.jobs.allJobs.currentPage() === viewModels.jobs.allJobs.lastPage() || viewModels.jobs.allJobs.lastPage() === -1}">
                    <a href="#" data-bind="click: viewModels.jobs.allJobs.nextPage">»</a>
                </li>
            </ul>
        </div>

        <!-- totals -->
        
        <hr style="margin: 10px 0px">
        <table class="table table-striped table-hover table-condensed table-hover" style="margin-bottom: 0px;">
            <thead>
                <tr>
                    <th style="width: 50%;">{{ _('Count') }}:&nbsp <span data-bind="text: viewModels.jobs.totalQuantity"><span></th>
                    <th style="width: 31%; text-align: right">{{ _('Duration') }}:&nbsp <span data-bind="text: viewModels.jobs.totalDuration"><span></th>
                    <th style="width: 19%;"></th>
                </tr>
            </thead>
        </table>
    </div>

    <!-- summary tab -->

    <div id="worklog_summary" class="tab-pane">
    </div>

</div>
